version: "= 0"

sudo: false
language: python

services:
- docker

python:
- 3.5
- 3.6
- nightly

matrix:
  allow_failures:
  - python: nightly

install:
- pip install -U setuptools twine pip wheel
- pip install -r requirements-dev.txt
- pip install -U codecov

script:
- make cov
- python setup.py check -rms

after_success:
- codecov

sudo: false

deploy:
  provider: pypi
  user: aio-libs-bot
  password:
    secure: "hlgl7Ml+yv13wqXFnzHPQKyS0Sj45TmsvC53lRk970TJD8ehfeYSxcdt6UMmxGzGUqGGdakQKUueSFxe4+hCKo1TiabsIPsSJWFXL+RfboZbcGPUVfk0MPNnOEOLBOWnsBVzfRXfWdG6oQ+Sn+2z6WIRcOaiyIFll2ABI1tkVxciDgBRl3czx13V4MFWVEM/8P9YJA7x1srzbVISlWKf1ZOA/nk5xJMyGbsdmEV4JVwFanGCTdALHxi8+8MOwFOxecbHlCSpo2od2JeHZunysHuDt3zX84zwH80LqgUyWoTCYgb5QM213NkZHAokV5JAdPTVQJvsZMk65sELGljN36TcggpeZqDlY6pS5+j116GUHbEqLnZveFYsH2XcqhsY0jcbdzlo9KjlBSBzY0VXXsspZcUVAHIQ+o7Cv/JjfabQTYVAhS4nAZy0P0bWOWfoFZAyFlnN86zePPzx1bqCTyMwlfmeNKgCQov4+OmudgDnFwJtebk4poZHB5U4fPFslNTm7bar6H16nqQ6+/FoXDQ1kiOTSmAZDlcySnPWnVaxxRyeguVTtnPJGNWYChFd/NiGGqYeH9m0GlSDUeW+TUezOLOJgF/UxVupV+ISAcKcgbm28MlQNx8/1IVOhsmY3F199eV3briHI8E3vjO67oBBURove+97s1lK4cS56n0="
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    all_branches: true
    python: 3.6
