-e .
aiohttp==3.12.13
aiomcache==0.8.2
cryptography==45.0.4
docker==7.1.0
multidict==6.5.1
pynacl==1.5.0
pytest==8.3.5
pytest-aiohttp==1.1.0
pytest-cov==6.2.1
pytest-mock==3.14.1
pytest-sugar==1.0.0
redis==5.2.1
yarl==1.20.1
