attrs==20.3.0
flake8==3.9.0
sphinx==3.5.2
pep257==0.7.0
-e .
aioredis==1.2
cryptography==3.3.2
docker==4.4.0
pynacl==1.4.0
pytest==6.2.2
pytest-aiohttp==0.3.0
pytest-cov==2.11.1
pytest-mock==3.3.1
pytest-sugar==0.9.4
aiohttp<3.7
multidict==4.7.6
chardet==3.0.4
yarl==1.5.1
aiomcache==0.6.0
